.vl-container{max-width:900px;}
#primary{width:calc(100% - 260px);}
#secondary{max-width:260px;padding:0 10px;}
#secondary .widget-logo{padding-right:10px;padding-left:10px;}
header .vl-top-header{position:absolute !important;width:100%;background-color:transparent !important;}
header .vl-header{background-size:cover !important;background-position:center center !important;color:#fff;}
header .vl-header a{color:#fff;}
header .vl-header #vl-site-branding{width:100%;}
.widget-area .widget {
margin-bottom: 15px; }